@{
    ViewData["Title"] = "Home Page";
}



    @* h1 class="display-4">Asset Management</h1> *@
    <img class="d-block w-100" src="images/asset-management-technology-business-concept_220873-10822.jpg" alt="" />

@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

@* <body background="~/images/asset-management-technology-business-concept_220873-10822 (1).avif">

</body> *@
